body {
    display:flex;
    background-color:rgba(255, 17, 100, 0.441);
}
img {
    margin: 0 auto;
    z-index: -4;
    padding: 90px;
    padding-right: 20px;
 }
 .new {
    width:30px;
    height: 30px;
    z-index: -4;
    padding: 90px;
    
 }
 
.gifs {
    width:25%;
    display:block;
    float:left;
    padding-left:30px;
        column-count: 2;
        transform: rotateX('2');
        padding:700px;
        .your-style {
            font-family: sans-serif;
            font-weight: 900;
            font-size: 10px;
            padding: -90px;
            font-style: normal;
            font-stretch: ultra-expanded;
            color: #b3ffc6;
        }
        .your-style2 {
            font-family: sans-serif;
            font-weight: 900;
            font-size: 100px;
            transform: scaleX(2);
            padding: -300px;
            padding-left: 1000px;
            font-style: bottom;
            font-stretch: ultra-expanded;
            color: #e5ff00;
            float: left;
            display: flex;
            position: sticky;
        }
        .your-style3 {
            font-family: sans-serif;
            font-weight: 900;
            font-size: 120px;
            transform: scaleY(3);
            padding: -1000px;
            font-style: normal;
            color: #94af92;
        }
        .your-style4 {
            font-family: sans-serif;
            font-weight: 900px;
            font-size: 120px;
            transform: scaleX(2);
            display: flex;
            font-style: normal;
            color: #d1d1ff;
            padding-right: 4000px;
    }
.descripton {
    display:flow-root;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    position:static;
    padding-right: 800px;
    text-align:justify;
    float: left;
    width: 1000px;
    height:auto;
    text-indent: 10%;
    font-size: 40px;
}
.gif {
    
    width: 450px;
    height: 500px;
    padding: 90px;
  }
 
@media screen and (max-width: 96px) {
}